
.body {
    font-weight: 300;
    font-family: helvetica;
    margin: 0;
    padding: 0;
}




.foto-item {
    flex: 0 0 calc(33.33% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.foto-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Navbar style */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #9e7481; /* Warna latar belakang navbar */
    overflow: hidden;
    font-family: helvetica;
}

.navbar h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar li h3 {
    display: inline;
    margin-right: 10px;
    
}

.navbar li a {
    text-decoration: none;
    color: white; /* Warna teks navbar */
    padding: 10px;
    font-weight: bold;
}

.navbar li a:hover {
    color: #a18c93; /* Warna teks saat dihover */
}

/* Responsive Navbar */
@media screen and (max-width: 600px) {
    .navbar {
        text-align: center;
    }

    .navbar li {
        display: block;
        margin: 0;
        float: left;
        font-size: 10px;
    }
}


.daftar-foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 20px;
    display: grid;
}


.container-gambar {
    position: relative;
    font-family: helvetica;
    margin: 50px;
    box-shadow: 0 0 55PX firebrick;
}

.deskripsi {
    max-width: 400px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-family: helvetica;
}

.container-gambar-img {
    position: relative;
    border-radius: 8px;
    height: auto; /* Menyesuaikan tinggi agar tidak terdistorsi */
    object-fit: cover; /* Memastikan gambar memenuhi kotak tanpa terdistorsi */
    width: 100%; /* Lebar postingan foto mengisi lebar container */
    max-width: 600px; /* Lebar maksimum postingan foto */
    margin: 10px 0; /* Ruang antara postingan foto */
}



    .container-gambar p {
        text-align: center; /* Pusatkan konten secara horizontal */
        font-size: 20px;
        

    }

    .container-gambar a {
        display: inline-block;
        margin: 5px;
        padding: 8px 15px;
        text-decoration: none;
        color: #fff;
        background-color: #944E63; /* Sesuaikan warna latar belakang sesuai kebutuhan */
        border-radius: 5px;
    }

    .container-gambar a:hover {
        background-color: #0056b3; /* Sesuaikan warna latar belakang hover sesuai kebutuhan */
    }

    /* Gaya untuk tombol */
    .tombol {
        text-align: center; /* Pusatkan tombol secara horizontal */
        margin-top: 10px; /* Jarak atas dari elemen sebelumnya */
    }

    .tombol p {
        margin: 0; /* Hilangkan margin default pada paragraf */
    }

    .tombol a {
        display: inline-block;
        margin: 5px;
        padding: 8px 15px;
        text-decoration: none;
        color: #fff;
        background-color:#944E63;
        border-radius: 5px;
    }

    .tombol a:hover {
        background-color:#944E63; /* Warna latar belakang tombol saat dihover */
    }


    .navbar ul {
        float: right;
        
    }

    .cek {
        font-size: 20px;
        font-family: helvetica;

    }

    h3{
        font-weight: normal;
    }

    .navbar2 :hover{
        background-color: #9e7481;
        float: right;

    }

    .daftar-foto .like {
        display: inline;
        border: none;
    }

   .daftar-foto .container-gambar .lk {
        text-align: center;
        border: none;
    }

    .button{
        margin-bottom: 85px;
        text-align: center;
    }