/* Navbar style */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #9e7481; /* Warna latar belakang navbar */
    overflow: hidden;
    font-family: helvetica;
}

.navbar li {
    display: inline;
    margin-right: 10px;
    text-align: center;
    float: left;
    font-size: 10px;
    color: white;
}

.navbar li a {
    text-decoration: none;
    color: white; /* Warna teks navbar */
    padding: 10px;
    font-weight: bold;
}

.navbar li a:hover {
    color: #a38991; /* Warna teks saat dihover */
}

/* Responsive Navbar */
@media screen and (max-width: 600px) {
    .navbar {
        text-align: center;
    }

    .navbar li {
        display: block;
        margin: 0;
    }
}


.daftar-foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 20px;
}

.container-gambar {
    position: relative;
    font-family: helvetica;
}

.deskripsi {
    max-width: 400px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-family: helvetica;
}

.container-gambar-img {
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width: 100%; /* Menjadikan lebar 100% */
    height: auto; /* Menyesuaikan tinggi agar tidak terdistorsi */
    object-fit: cover; /* Memastikan gambar memenuhi kotak tanpa terdistorsi */
}



    .container-gambar p {
        text-align: center; /* Pusatkan konten secara horizontal */
        font-size: 20px;
        

    }

    .container-gambar a {
        display: inline-block;
        margin: 5px;
        padding: 8px 15px;
        text-decoration: none;
        color: #fff;
        background-color: #944E63; /* Sesuaikan warna latar belakang sesuai kebutuhan */
        border-radius: 5px;
    }

    .container-gambar a:hover {
        background-color: #9e7481; /* Sesuaikan warna latar belakang hover sesuai kebutuhan */
    }

    /* Gaya untuk tombol */
    .tombol {
        text-align: center; /* Pusatkan tombol secara horizontal */
        margin-top: 10px; /* Jarak atas dari elemen sebelumnya */
    }

    .tombol p {
        margin: 0; /* Hilangkan margin default pada paragraf */
    }

    .tombol a {
        display: inline-block;
        margin: 5px;
        padding: 8px 15px;
        text-decoration: none;
        color: #fff;
    background-color:#944E63;
        border-radius: 5px;
    }

    .tombol a:hover {
        background-color:#944E63; /* Warna latar belakang tombol saat dihover */
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: auto;
    }
    
    table {
        width: 100%;
    }
    
    td {
        padding: 10px;
    }
    
    input[type="text"],
    input[type="file"],
    select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    
    input[type="submit"] {
        background-color:#944E63;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #533d4449;
    }

    tbody {
        text-align: center;
    }
   

    ul ul {
        float: right;
    }


    .upload{
        box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
        top: 150px;
        position: sticky;
        margin-top: 50px;
    }

    .upload h3{
        text-align: center;
        font-family: helvetica;
    }

    .navbar ul {
        padding-top: 15px;
    }

    .add{
        z-index:1;
        position: relative;
    }

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: #6e3c3c;
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: black;
	text-decoration: none;
    text-align: left;
    font-size: 10px;
}

.card-description2 {
    text-align: left;
    font-size: 9px;
}

.like {
    background-color: #9e7481;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.like a {
    color: white;
    text-decoration: none;
}

.like:hover {
    background-color: #944E63;
}

.komentar {
    background-color: #9e7481;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.komentar a {
    color: white;
    text-decoration: none;

}

.komentar:hover {
    background-color: #944E63;
}
